nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  box-shadow: 3px 3px 17px 10px #e9d3d3;
  background-color: #f1f1f1;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.side {
  width: 66.6%;
}
.logo{
  display: flex;
  align-items: center;
}

.logo img {
  height: 80px;
  width: auto;
}

.hamburger img {
  width: 30px;
  height: auto;
}
.c{
  color: #f05825;
  font-weight: 700;
}
.k{
  color: #0d71bb;
  font-weight: 600;
}
.and{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media(max-width:768px){
  nav{
    align-items:normal;
  }
}