.off-screen-menu {
  display: flex;
  align-items: center;
}
ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li{
    padding: 10px;
    color: yellowgreen;
    cursor:pointer;
  }

  ul.hidden {
    display: flex;
  }

@media(max-width:768px){
    ul{
    flex-flow: column nowrap;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    background-color: darkslategrey;
    padding-top: 10px;
    }
   .off-screen-menu.menu{
    display: none;
   }
   .nav-links.hidden{
    padding-top: 30px;
   }
   ul {
    display: none;
  }

  ul.hidden {
    display: block;
  }

  .hamburger-icon {
    display: block;
  }
}

@media (min-width: 769px) {
  .hamburger-icon {
    display: none;
  }

  .close-icon{
    display: none;
  }
}
  